{% extends 'base.html.twig' %}

{% block title %}Shopping Cart{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Mon Panier</h1>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>Total</th>
                        <th>Action</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for element in data %}
                        <tr>
                            <td>{{ element.item.name }}</td>
                            <td>{{ element.item.price }} €</td>
                            <td>{{ element.quantity }}</td>
                            <td>{{ element.item.price * element.quantity }} €</td>
                            <td>
                                <a href="{{ path('app_cart_add',{id: element.item.id}) }}" class="btn btn-success">+</a>
                                <a href="{{ path('app_cart_remove',{id: element.item.id}) }}" class="btn btn-warning">-</a>
                                <a href="{{ path('app_cart_delete',{id: element.item.id}) }}" class="btn btn-danger">Supprimer</a>
                            </td>
                        </tr>
                    {% else%}
                        <tr>
                            <td colspan="5">Votre panier est vide</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <td colspan="3">Total</td>
                        <td>{{total}}€</td>
                        <td> <a href="{{ path('app_cart_empty') }}" class="btn btn-danger">Vider le panier</a></td>
                    </tfoot>
                </table>
                <a href="#" class="btn btn-primary">Valider le panier</a>
            </div>
        </section>
    </main>


{% endblock %}
