{# fixed-top #}

<style>
    .navbar {
        background-color: #0f263e;
        padding: 20px;
    }

    .nav-link {
        color: #ffe3d1;
        font-size: 20px;
    }

    .nav-link:hover {
        color: #fd8335;
    }

    .nav-link:focus {
        color: #fd8335;
    }

    .btn {
        color: #ffe3d1;
        border: solid 1px #ffe3d1;
    }

    .btn:hover {
        color: #0f263e;
        border: solid 1px #fd8335;
        background-color: #fd8335;
    }


</style>

<nav class="navbar navbar-expand-lg mb-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img class="logo" src="{{ asset('img/logo.png') }}" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                    {% if is_granted('ROLE_ADMIN') %}

                        <a class="nav-link" href="{{ path('app_user_index') }}">Utilisateurs</a>
                    {% endif %}
                </li>
                <li class="nav-item">

                    <a class="nav-link" href="{{ path('app_item_index') }}">Catalogue</a>
                </li>
                <li class="nav-item">
                    {% if is_granted('ROLE_SELLER') %}

                        <a class="nav-link" href="{{ path('app_my_items_index') }}">Mes Objets</a>
                    {% endif %}
                </li>
                <li class="nav-item">

                    {% if is_granted('ROLE_USER') and not is_granted('ROLE_SELLER') and not is_granted('ROLE_ADMIN') %}

                        <a class="nav-link" href="{{ path('app_cart_index') }}">Panier <i class="bi bi-cart2"></i></a>
                    {% endif %}
                </li>


            </ul>

            <span class="d-flex gap-2">

                {% if app.user == null %}
                    <a class="btn btn-outline-secondary" role="button" href="{{ path('app_register') }}">S'inscrire</a>
                    <a class="btn btn-secondary" href="{{ path('app_login') }}">Se connecter</a>
                {% else %}
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            {{ app.user.userIdentifier }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            {% if is_granted('ROLE_USER') and not is_granted('ROLE_SELLER') and not is_granted('ROLE_ADMIN') %}
                                <li><a class="dropdown-item" href="{{ path('app_orders_list') }}">Mes commandes</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{{ path('app_account') }}">Mon compte</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a></li>
                        </ul>
                    </div>
                {% endif %}
			</span>
        </div>
    </div>
</nav>