{% extends 'base.html.twig' %}

{% block title %}Mes commandes{% endblock %}

{% block body %}
    <h1>Mes commandes</h1>

    {% if orders is empty %}
        <p>Vous n'avez pas encore passé de commandes.</p>
    {% else %}
        <table>
            <thead>
            <tr>
                <th>Référence</th>
                <th>Date</th>
                <th>Détails</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.reference }}</td>
                    <td>{{ order.timestamp|date('d/m/Y H:i') }}</td>
                    <td>
                        <ul>
                            {% for detail in order.ordersDetails %}
                                <li>{{ detail.item.name }} x {{ detail.quantity }} - {{ detail.price }} €</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>Payment Method: {{ order.paymentMethod }}</td>
                    <td>Card Number: {{ order.cardNumber }}  CVC: {{ order.cvc }}</td>
                    <td>Address: {{ order.address }}  Postal Code: {{ order.postalCode }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
