{% extends 'base.html.twig' %}

{% block title %}Item index{% endblock %}

{% block body %}
    <script>
        function filterItems(category) {
            var rows = document.querySelectorAll('.itemCard');
            rows.forEach(card => {
                if (category === 'all' || card.getAttribute('data-category') === category) {
                    card.style.display = ''; // affiche la carte
                } else {
                    card.style.display = 'none'; // cache la carte

                }
            });

            // Gestion des classes actives sur les boutons
            document.querySelectorAll('.filter-btn').forEach(btn => {
                btn.classList.remove('active-filter');
            });
            document.querySelector('#filter' + (category === 'all' ? 'All' : category)).classList.add('active-filter');
        }
    </script>

    <style>
        .filter-container {
            margin-top: 60px;
            margin-bottom: 30px;
        }

        .filter-title {
            margin-bottom: 10px;
            font-size: 20px;
        }

        .filter-btn {
            color: #0f263e;
            border-color: #0f263e;

        }

        .active-filter {
            background-color: #fd8335;
            color: #0f263e;
            border-color: #fd8335;
        }
        .prix{
            font-size: 25px;
        }
    </style>
    <div class="container">
        <h1>Liste des articles à vendre</h1>

        <div class="filter-container">
            <div class="filter-title">Filtres de catégorie :</div>
            <div>
                <button id="filterAll" class="btn filter-btn" onclick="filterItems('all')">Toutes Categories</button>
                <button id="filter1" class="btn filter-btn" onclick="filterItems('1')">Régulier</button>
                <button id="filter2" class="btn filter-btn" onclick="filterItems('2')">Haut de gamme</button>
                <button id="filter3" class="btn filter-btn" onclick="filterItems('3')">Rare</button>
            </div>
        </div>

        <div class="row">
            {% for item in items %}
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 itemCard" data-category="{{ item.category }}">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ asset('uploads/item/' ~ item.photo) }}" class="card-img-top" alt="{{ item.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.name }}</h5>
                            <p class="card-text">{{ item.description }}</p>
                            <p class="card-text"><strong>Categorie:</strong>
                                <td>
                                    {% if item.category == 1 %}
                                        Régulier
                                    {% elseif item.category == 2 %}
                                        Haut de Gamme
                                    {% elseif item.category == 3 %}
                                        Rare
                                    {% else %}
                                        Inconnu
                                    {% endif %}
                                </td></p>
                            <p class="card-text"><h3>Prix:</h3> <p class="prix">{{ item.price }}€</p></p>

                            <a href="{{ path('app_item_show', {'id': item.id}) }}" class="btn btn-primary">Show</a>
                            {% if is_granted('ROLE_ADMIN') or (app.user == item.seller and app.user != null) %}
                                <a href="{{ path('app_item_edit', {'id': item.id}) }}" class="btn btn-secondary">Edit</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12">
                    <p class="text-center">No records found</p>
                </div>
            {% endfor %}
        </div>

        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SELLER') %}
            <div class="text-center mt-4">
                <a href="{{ path('app_item_new') }}" class="btn btn-success">Create new</a>
            </div>
        {% endif %}
    </div>
{% endblock %}